--<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
  <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Главная</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <ul><li><a href="index.html">Главная</a></li>
    <li><a href="types.html">Эволюция игр</a></li>
    <li><a href="gallery.html">Как игры стали искусством</a></li>
    </ul>
    </head>
    <body>
        h1>Что такое видеоигры, зачем изучать историю. </h1>
<h2>Что такое видеоигры</h2>
<p>Видеоигры — это электронные игры, основанные на взаимодействии человека с электронным устройством через визуальный и физический интерфейс. Изучать историю нужно для понимания причинно-следственных связей, формирования критического мышления, извлечения уроков из прошлого и предотвращения ошибок в будущем. Видеоигры могут служить инструментом для изучения истории, так как позволяют погрузиться в исторические события с разных точек зрения и развивают критическое мышление. </p>
<h2>Зачем изучать историю</h2>
<p>Понимание прошлого: История помогает понять, почему события происходили именно так, а не иначе, и устанавливать причинно-следственные связи.
Извлечение уроков: Изучение прошлого помогает извлекать уроки из ошибок и успехов, чтобы лучше строить будущее.
Развитие критического мышления: Анализ исторических событий способствует развитию критического мышления и способности оценивать разные точки зрения.
Формирование идентичности: Понимание истории помогает сформировать представление о себе как части более широкого культурного и исторического контекста. </p>
<li>Эпоха 1:</li>
<li>Эпоха 2:</li>
<li>Эпоха 3:</li>
<li>Эпоха 4:</li>
<li>Эпоха 5:</li>
<li>Эпоха 6:</li>
<footer>
        <p></p>
</footer>

    </body>
  </html>