{% extends "proj/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
{% block content %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <nav>
            <a href="/">Главная</a>
            <a href="/catalog/">Эволюция игр</a>
            <a href="/cart/">Как игры стали искусством</a>
        </nav>
    </header>

    <main>
        <h1>Что такое видеоигры, зачем изучать историю. </h1>
  <h2>Что такое видеоигры</h2>
  <p>Видеоигры — это электронные игры, основанные на взаимодействии человека с электронным устройством через визуальный и физический интерфейс. Изучать историю нужно для понимания причинно-следственных связей, формирования критического мышления, извлечения уроков из прошлого и предотвращения ошибок в будущем. Видеоигры могут служить инструментом для изучения истории, так как позволяют погрузиться в исторические события с разных точек зрения и развивают критическое мышление. </p>
  <h2>Зачем изучать историю</h2>
  <p>Понимание прошлого: История помогает понять, почему события происходили именно так, а не иначе, и устанавливать причинно-следственные связи.
  Извлечение уроков: Изучение прошлого помогает извлекать уроки из ошибок и успехов, чтобы лучше строить будущее.
  Развитие критического мышления: Анализ исторических событий способствует развитию критического мышления и способности оценивать разные точки зрения.
  Формирование идентичности: Понимание истории помогает сформировать представление о себе как части более широкого культурного и исторического контекста. </p>
    <div>Эпоха 1:</div>
    <div>Эпоха 2:</div>
    <div>Эпоха 3:</div>
<br/>
 67т67 т6
<div>Эпоха 4: 67т676т76т7 </div>
<div>Эпоха 5:</div>
<div>Эпоха 6:</div>
  </main>

    <footer>
        <p>© 2025 Мой сайт(нет)</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>



{% endblock %}
