.site-footer {
    background: #090806;          
    color: #bfbfbf;               
    padding: 20px 0;
    margin-top: 60px;
}

.site-footer:hover {
    color: #ffffff;          
    transition: 0.3s ease;
}

.site-footer p, 
.site-footer div {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 300;
}
